<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BETTer_english</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Modal source -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <!-- =======================================================
  * Template Name: FlexStart - v1.10.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span>BETTer</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero" style="color:#012970;">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
          <li><a class="nav-link scrollto" href="#services" style="color: #4154f1">Services</a></li>       
          <li><a class="nav-link scrollto" href="#team">login</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Mypage</a></li>
          <li><a class="nav-link scrollto" href="#language"><img src="globe.svg" width="20" />&nbsp;</a></li>
          <select style = "font-family: sans-serif ; color:#012970" > 
            <option > US </option>
            <option> UK </option>
          </select>

          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <!-- <li><a class="getstarted scrollto" href="#about">My page</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




  <main id="main">

<!-- #################################################################################################### -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <br>
          <br>
          <p> REPEAT AFTER ME! </p>
          <br>
          <h2> Feedback </h2>
        </header>

        <div class="testimonials-slider" data-aos="fade-up" data-aos-delay="none">
          <div class="wrapper">
            <div class="slide">
              <div class="testimonial-item">
                <div class="greatinfo">
                  <div class="profile mt-auto">
                    <img src="assets/img/testimonials/great.png" class="testimonial-img" alt="">
                  </div>
                </div>
                <h3> Great </h3>
                <h4> 78% </h4>
                <p>
                  Answer: It's a rocket
                  <br>
                  Yours: It's a racket
                </p>
              </div>
            </div>
            <div class="slide">
              <div class="testimonial-item">
                <h3 style="text-align:center;">발음기호: ɪts ɐ ɹˈɑːkɪt </h3><br>
                <div class="justify-content-center mb-4" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-danger" id="openModalBtn0">ɪ</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn1">t</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn2">s</button>
                  </div>
                  <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-primary" id="openModalBtn3">ɐ</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-danger" id="openModalBtn4">ɹˈ</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn5">ɑː</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn6">k</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn7">ɪ</button>
                    <button type="button" class="btn btn-primary" id="openModalBtn8">t</button>
                  </div>
                </div>
                <div class="feedback_box">
                  파형 자리
                </div>
                <div class="profile mt-auto">
                  <!-- <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
                </div>
              </div>
            </div>
            <!-- End testimonial item -->


          </div>
          <div class="pagination"></div>
        </div>

      </div>

    </section>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- Modal -->
  <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Feedback</h4>
          <button type="button" id="closeModalBtn0" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <video class="embed-responsive-item" src="assets/video/1. i.mov" type="video/quicktime" controls></video>
          </div>
          <!-- <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" data-title="혀&치아 위치"> -->
          <div class="tongue_image">
            <img src="assets/img/(1) Front_high.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  
  

  <!-- Script for Modal --> 
  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>

  <script>
    // 모달 버튼에 이벤트를 건다.
  $('#openModalBtn0').on('click', function(){
    $('#modalBox').modal('show');
  }); 

    // 모달 안의 취소 버튼에 이벤트를 건다.  
  $('#closeModalBtn0').on('click', function(){
    $('#modalBox').modal('hide');
  });
  </script>

</body>

</html>