<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BETTer_english</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }}" rel="stylesheet">
  <!-- Vendor CSS Files -->

  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


  <!-- Modal source -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <!-- =======================================================
  * Template Name: FlexStart - v1.10.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></img>

        <script src="{{url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
        <span>BETTer</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" a href="service_qa">Services</a></li>       
          <li><a class="nav-link scrollto" href="login">Login</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">My page</a></li>
          <li><a class="nav-link scrollto" href="#language"><img src="{{ url_for('static', filename='img/globe.svg') }}" width="20" />&nbsp;</a></li>
          <select style = "font-family: sans-serif ; color:#012970" > 
            <option > US </option>
            <option> UK </option>
          </select>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">

<!-- #################################################################################################### -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <br>
          <br>
          <p> REPEAT AFTER ME! </p>
          <br>
          <h2> Feedback </h2>
        </header>

        <div class="testimonials-slider" data-aos="fade-up" data-aos-delay="none">
          <div class="wrapper">
            <div class="slide">
              <div class="testimonial-item">
                <div class="greatinfo">
                  <div class="profile mt-auto">
                    <img src="assets/img/testimonials/great.png" class="testimonial-img" alt="">

                  </div>
                </div>
                <h3> {{ data["result"][0] }}% </h3>
                <h4> {{ data["result"][1] }} </h4>
                <p>
                  Answer: {{ data["answer"][0] }}
                  <!-- Answer: she sells seashells by the seashore! -->
                  <br>
                  Yours: {{ data["deaf"][0] }}
                  <!-- Yours: chee sails tea shos bronekey shore! -->
                </p>
              </div>
            </div>

            <div class="slide">
              <div class="testimonial-item">
                <h3 style="text-align:center;">발음기호: {{ data["answer"][1] }} </h3><br>

                <div style="margin: auto">
                  <audio controls>
                    <source src="{{ url_for('audio_download', filename='answer.wav') }}" type="audio/wav">
                    Your browser does not support the audio tag.
                  </audio>
                </div>
                <div class="justify-content-center mb-4" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group me-2" role="group" aria-label="First group"  style="overflow-block: hidden;">
                  {% for idx in range(data['correct_list']|length) %}
                      
                    {% if data['correct_list'][idx][0] == ' ' %}
                      &nbsp;&nbsp;&nbsp;
                    {% elif data['correct_list'][idx][1] == 0 %}
                      <button type="button" onclick="getTip(this)" class="btn btn-danger openModalBtn_dan" id="openModalBtn{{ idx }}">{{ data['correct_list'][idx][0] }}</button>
                    {% else %}
                      <button type="button" onclick="getTip(this)" class="btn btn-primary openModalBtn" id="openModalBtn{{ idx }}">{{ data['correct_list'][idx][0] }}</button>

                    {% endif %}

                  {% endfor %}
                 </div>
                </div>
                <script>
                  function getTip(button){
                    var phoneme= button.innerHTML;
                    console.log(phoneme);
                    document.getElementsByClassName("embed-responsive-item")[0].src="database/video/"+ phoneme +".mov";
                    }
                </script>
                <div class="feedback_box">
                  <img src="{{ url_for('graph_download', filename='graph_smoothing.png') }}" alt="" style="width: 100%; height: 120%">
                </div>

              </div>
            </div>
            <!-- End testimonial item -->


          </div>
          <div class="pagination"></div>
        </div>

      </div>

    </section>

    <script>
      // javascript 등록
      var btn_arr = document.getElementsByClassName("openModalBtn_dan")
      var btn_cnt = document.getElementsByClassName("openModalBtn_dan").length
    </script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <script src="{{ url_for('static', filename='js/color.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <!-- Modal -->
  <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Feedback</h4>
          <button type="button" id="closeModalBtn0" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <video class="embed-responsive-item" src="" type="video/quicktime" controls></video>
          </div>
          <div class="tongue_image">
            <img src="https://github.com/queque5987/better-test/blob/main/(1)%20Front_high.png?raw=true"
             alt="" style="width: 100%; height:100%; margin-top:10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Script for Modal --> 



  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>

  <script>
    // 모달 버튼에 이벤트를 건다.
  $('.openModalBtn_dan').on('click', function(){
    $('#modalBox').modal('show');
  }); 

    // 모달 안의 취소 버튼에 이벤트를 건다.  
  $('#closeModalBtn0').on('click', function(){
    $('#modalBox').modal('hide');
  });
  </script>

</body>

</html>