{% extends 'base.html' %}

{% block content %}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">BETTer를 만나면<br>영어가 보인다 </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">BETTer는 청각장애인대상<br> 영어 발음 교정 서비스입니다!</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#services" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span> Get started </span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='img/hero-img.png') }}"  class="img-fluid" alt=""></img>

          
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>CONTEXT</h2>
          <p>Select your Level!</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Level 1</h3>
              <p>Denslow's three bears</p>
                <!-- <form method="GET", action="record"> -->
                  <a href="service_qa" class="read-more">
                    <span>Get started</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                <!-- </form> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Level 2</h3>
              <p>The rocket book</p>
              <a href="qa.html" class="read-more"><span>Get started</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Level 3</h3>
              <p>Animal Farm</p>
              <a href="qa.html" class="read-more"><span>Get started</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>


        </div>

      </div>

    </section>
    <!-- End Services Section -->

{% endblock %}

</html>