{% extends 'base.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
 
  <main id="main">



    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!--<h2>Features</h2>
          <p>Laboriosam et omnis fuga quis dolor direda fara</p> -->
        </header>

        <div class="row">
          
          <!-- feature 처음 -->
          <!-- <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div> -->

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

            </div>
          </div>

        </div>
      



        <!-- Feature Tabs -->

        <div class="row feture-tabs" data-aos="none">
          
          <div>
            <div>
              <h2>Lv1. Denslow's three bears</h2>
          
            <div class ="textbox" >
              {{ data['context'] }}
            </div> <br>

            <!-- Tabs -->
          
          <div class="qcenter">
            <div >
              <ul class="nav justify-content-center" >
                <li >
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Q1</a>
                </li>
                <li >
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2">Q2</a>
                </li>
                <li >
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3">Q3</a>
                </li>
              </ul>
            </div>
          </div>
        
            <!-- End Tabs -->
          <div class="tabcontent_center">
              <!-- Tab Content -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4> {{ data["question"] }} </h4>
                  </div>
                  <p>{{  data["answer"] }}</p>
                </div>
                <!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4> Who is she?</h4>
                  </div>
                  <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>
                </div>
                <!-- End Tab 2 Content -->
    
                <div class="tab-pane fade show" id="tab3">
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4> Who am I?</h4>
                  </div>
                  <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>
                </div>
          </div>
            


              <!-- End Tab 3 Content -->

              
              

          <!-- 마이크 녹음 부분 -->
          <body>
            <div class="buttoncenter">
              <form action="service_example", method="POST">
                <button id="btn"> Rec </button>
                <button id="stopButton"> Stop </button>
              </form>
              <!-- <button id="Feedback" ><a href="feedback_better.html"style="color: black;"> Feedback</a></button> -->
            <div>
            <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
            <div id="sound-clips"></div>

        </body>


        </div>

        <!-- End Feature Icons -->
      </div>
    </section>
    <!-- End Features Section -->


        </div>

      </div>

    </section><!-- End Services Section -->




{% endblock %}

</html>